body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #191970;
  padding: 20px;
}

nav a {
  color: white;
  margin-right: 30px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
